{% extends "base_template.html" %}

{% block title %}Products{% endblock %}
{% block content %}
<div class="pb-6 grid grid-cols-4 gap-4">
    <div class="bg-gray-100 py-2 rounded-xl col-span-1">
        <form method="get" class="px-2" action="{% url 'product:search' %}">
            <input name="query" type="text" value="{{ query }}" placeholder="Find products by name" class="w-full py-2 px-5 border rounded-xl">
            <button class="mt-2 py-1 px-5 text-lg bg-teal-500 text-white rounded-xl">Search</button> 
        </form>

        <hr class="text-gray-400 my-5">
        <p class="text-lg font-semibold pl-1">Categories</p>
        <div class="px-2 py-3">
            {% for category in categories %}
            <div class="py-1">
                <a href="{% url 'product:search' %}?query={{ query }}&category={{ category.id}}" class="text-gray-700 hover:text-teal-500">{{ category.title }}</a>
            </div>
            {% endfor %}
        </div>

        {% comment %} Filter {% endcomment %}
        <div class="px-2">
            <hr class="text-gray-400 my-6">
            <p class="font-semibold">Clear Filters</p>
            <div class="py-1"><a href="{% url 'product:search' %}" class="mt-2 py-2 px-6 inline-block bg-yellow-500 text-white rounded-xl">Clear</a></div>

        </div>
    </div>
    

    <div class="col-span-3">
        <div class="grid grid-col-1 gap-1 md:grid-cols-2 lg:grid-cols-3">
        {% if product_list %}
        {% for product in product_list %}
        <div class="p-5 m-3 bg-white rounded-lg hover:shadow-lg">
            <a href="{% url 'product:detail' product.pk %}">
                <div>
                    <img src="{{ product.image.url }}" alt="Product-{{ product.name }}" class="object-cover rounded-t-xl">
                </div>
                <div class=" rounded-b-xl p-3">
                    <h2 class="font-semibold text-lg">{{ product.name }}</h2>
                    <p class="text-gray-500">Price: ${{product.price}}</p>
                </div>
            </a>
        </div>
        {% endfor %}

        {% else %}
        <div class="col-span-3 text-center p-10">
            <h2 class="text-2xl font-semibold">No products found</h2>
            <p class="text-gray-500">Try adjusting your search or filter to find what you're looking for.</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}